/* selector por clase */

.subtítulo {
    border :  1 px aqua solid;
    box-shadow:  10 px  5 px  20 px oro;
}

h2 _ subtítulo {
    color : red;
}

/* selector por atributo que tenga un atributo sun importar el valor */
p [ lang = "ja" ]{
    background-color: azure;
    color : rgb(185, 179, 179);
}

a [ href $= "org" ]{
    background-color: aquamarine;
}
una [ href ^= "#" ]{
    color: yellowgreen;
}
a [ href *= "empresa" ]{
    size :  85 px ;
}


/* selector de descendientes */
 p major {
    border-bottom: 2 px white black dots;
}
/* Selector hijo directo */
major  >  p {
    border-bottom :  5 px red;
}
/* hermanos adyasentes */
h3  +  pag {
    border-bottom:  10px purple;
    border-radius : 5px ;
}

/* hermanos generales */
h3   pag {
    font-size :  32 px ;
}